*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
header{
    width: 100vw;
    height: 25vh;
    background-color: white;
    
}
div.nav1{
    background-color: rgb(245, 245, 245);
    margin:0px 0px 50px 0px;
    text-align: center;
    
}
header nav ul li{
    padding:20px;
    display: flex;
    display: inline-block;
    padding:20px;
    
    
}
header nav ul li a:hover{
    color: black;
    text-decoration: underline;
}
div.nav2 ul li{
    display: flex;
    display: inline-block;
    
    background-color: rgb(245, 245, 245);
}
.container{
    margin: auto;
    padding: 50px;
    min-height: calc(100vh-25vh-15vh);
    background-image: url('../Images/container_bg.png');
    background-size: contain;
}
.container img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 365px ;
}
.foot{
    width: 100vw;
    height: 15vh;
    margin: 30px;
    padding: auto;
    display: flex;
    background-color: black;
    color: white;
    align-content: center;
    justify-content: center;
} 
        
.nav2{
    display: flex;
    justify-content: center;
    color: brown;
    background-color: springgreen;
}      